$primary-color: #cfb2b2;
$color-2: #8a5a8291;
$color-3: gray;
$color-4:#eeecec;
$color-5:#000000;
$color-6: #552e4e91;


.hobies {
    height: 100vh !important;
    width: 100% !important;
    margin: 10px;
    background-size: cover;
    background-position: center; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

  }
  
  .hobies__title {
    width: auto;
    margin: 5% auto;
    color: $primary-color;
    text-shadow: 8px 8px 14px $color-2;
    h1 {
      font-size: 50px;
    }

  }

  .hobies__cards{

    height: 100% !important;
    width: 100%;
    margin: auto;
  }
  
     

  

