$primary-color: #cfb2b2;
$color-2: #8a5a8291;
$color-3: gray;
$color-4:#eeecec;
$color-5:#000000;
$color-6: #552e4e91;


.education {

    height: 100vh !important;
    width: 100% !important;
    margin: 10px;
    

    
    &__title{
        
        
        color: $primary-color;
        text-align: center;
        text-shadow: 8px 8px 14px $color-2;
        margin-top: 40px;
        h1 {
            font-size: 50px;
            
        }

    }

    &__list{
        
        
        overflow: auto;
        margin-top: 8%;
        margin-bottom: 10rem;
        overflow: auto;
    }
    
}