$primary-color: #cfb2b2;
$color-2: #8a5a8291;
$color-3: gray;

.header-page{

  width: 100%;
  height: 100%;
  margin-top: 1rem;
  text-align: center;
   
  &__translator{
        
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        
    i.language.big.icon{
        margin-right: 20px !important;
    }
  }

  &__hide-nav{
    position: absolute;
    left: 15px;
    top: 15px;

  }    
}