$primary-color: #cfb2b2;
$color-2: #8a5a8291;
$color-3: gray;
$color-4:#eeecec;
$color-5:#ccc;
$color-text: black;

.education-list{

    
    overflow: hidden;
    margin: auto !important;
    width:75%;
    height: 100% !important;

}